const { QuadrataEnvironment } = require('@quadrata/sdk/api');

// NOTE: You can create a new API key and private key in the Quadrata dashboard
const API_KEY = 'CHANGE_ME';
const PRIVATE_KEY_DER_BASE_64 = 'CHANGE_ME';

// Set these if you want to export by date range
const DATE_FROM = undefined; // mm-dd-yyyy
const DATE_TO = undefined; // mm-dd-yyyy

const environment = {
    environment: QuadrataEnvironment.PRODUCTION
};

module.exports = {
    API_KEY,
    PRIVATE_KEY_DER_BASE_64,
    environment
};